<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key><string>en</string>
  <key>CFBundleDisplayName</key><string>Pulse Studio</string>
  <key>CFBundleName</key><string>Pulse Studio</string>
  <key>CFBundleExecutable</key><string>PulseStudioLauncher</string>
  <key>CFBundleIdentifier</key><string>com.girishxp.pulsestudio.launcher</string>
  <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleShortVersionString</key><string>0.2.143</string>
  <key>CFBundleVersion</key><string>0.2.143</string>
  <key>CFBundleIconFile</key><string>pulsestudio-icon.icns</string>
  <key>LSMinimumSystemVersion</key><string>11.0</string>
  <key>NSHighResolutionCapable</key><true/>
  <key>NSPrincipalClass</key><string>NSApplication</string>
</dict>
</plist>
